
#distribution-verticale_index { /*pour ajuster la video et les 3 blocs*/
	display: flex;
	flex-direction: column;
}

#div_video{
	flex: 0 0 auto;
}

#video{
    height: 35vh;
}

.avantages{
	margin: 8px auto 0px auto !important;
	padding: 0px 14%;
	display: flex;
}

.colonnes{
  border: solid #b6b6b6 1px;
  padding: 10px;
  margin: 0px 3%;
  flex: 1;
}

.cercles_colonnes > img{
	border: solid #004bff 3px;
	border-radius: 50%;
	padding: 7px;
	max-width: 12vw;
}


@media screen and (max-width: 528px) /*sur petits ecrans les 3 blocs sont vertical*/
{
	.avantages{     /* Les trois blocs distribué verticalement */
		flex-direction: column;
		
	}
	
	.colonnes{
		margin-bottom:10px;		/* une petite marge entre les 3 blocs */
	}
}