
#distribution-verticale_index {
	display: flex;
}

.video{
    position : static;
}

table
{
 border: 2px solid black;
 border-collapse: collapse; /*fusion des bordures*/
 margin-left: auto;
 margin-right: auto;
 color:#00284d;
}
caption 
{
 background: #808080 ;
 border: 2px solid black;
 border-bottom: none;
 padding: 5px;
 font-size: 220%;
 font-weight: bold;
 color: #00284d;
}
td, th
{
 color:#00284d;
 border: 2px solid black;
 padding: 5px;
 text-align: center;
 font-size: 150%;
}
h1
{
color:#00284d;
text-align: center;
font-family: "Comic Sans MS";
font-size: 4em;
font-style: italic;
}


@media screen and (max-width: 528px) 
{
	
	
}